---
const { color = "#372F2F", scale = "1", time = "3s" } = Astro.props;
---

<div class="relative m-auto w-fit cursor-pointer">
	<div
		style=`scale: ${scale}; --var-time: ${time}`
		class="spin peer relative z-10"
	>
		<svg
			width="62"
			height="62"
			viewBox="0 0 62 62"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M52.8478 33.6271C52.9977 32.9412 53.3363 32.4344 53.8635 32.1068C54.3969 31.7806 55.0218 31.6958 55.7384 31.8525C56.455 32.0091 56.9845 32.3462 57.327 32.8639C57.6756 33.3829 57.7749 33.9854 57.625 34.6713C57.5072 35.2103 57.271 35.6303 56.9164 35.9314C56.5666 36.24 56.1526 36.387 55.6745 36.3723L55.687 35.5665C55.9795 35.5791 56.2393 35.4915 56.4664 35.3037C56.6997 35.1172 56.8518 34.8617 56.9228 34.5371C57.0218 34.0839 56.9453 33.6853 56.6932 33.3414C56.4459 33.005 56.068 32.7812 55.5597 32.6701C55.0513 32.559 54.6115 32.604 54.2403 32.8053C53.8738 33.0139 53.641 33.3449 53.542 33.7981C53.4697 34.1288 53.4952 34.4232 53.6185 34.6812C53.7404 34.9453 53.9478 35.1414 54.2407 35.2696L53.9178 35.998C53.4615 35.7955 53.1388 35.4811 52.9496 35.0548C52.7653 34.6358 52.7313 34.16 52.8478 33.6271Z"
				fill={color}></path>
			<path
				d="M51.5368 40.3245C51.3247 39.7177 51.3732 39.0991 51.6824 38.4687C51.9916 37.8383 52.451 37.4212 53.0607 37.2174C53.676 37.0165 54.3017 37.0719 54.9377 37.3839C55.5738 37.6958 55.9978 38.1552 56.21 38.762C56.4277 39.3716 56.382 39.9916 56.0728 40.622C55.7636 41.2524 55.3014 41.6681 54.6861 41.8691C54.0737 42.0784 53.4495 42.0271 52.8134 41.7152C52.1774 41.4032 51.7518 40.9397 51.5368 40.3245ZM53.2599 37.9645C52.8431 38.0883 52.5311 38.3612 52.3241 38.7834C52.1171 39.2055 52.0922 39.6193 52.2495 40.0246C52.4124 40.4327 52.7219 40.7486 53.1778 40.9722C53.6337 41.1958 54.0701 41.2457 54.4869 41.122C54.9094 41.001 55.2241 40.7294 55.4312 40.3073C55.6382 39.8851 55.6603 39.47 55.4973 39.0619C55.34 38.6565 55.0334 38.3421 54.5774 38.1184C54.1215 37.8948 53.6823 37.8435 53.2599 37.9645Z"
				fill={color}></path>
			<path
				d="M50.6304 41.52L54.3375 44.4731L53.8395 45.0983L53.1407 44.5417C53.2657 44.8577 53.309 45.1807 53.2705 45.5107C53.232 45.8408 53.1034 46.1431 52.8846 46.4177C52.5761 46.8051 52.204 47.0257 51.7684 47.0794C51.3289 47.1381 50.913 47.0112 50.5207 46.6987L48.064 44.7417L48.5621 44.1165L50.9011 45.9798C51.1561 46.1829 51.4225 46.2709 51.7006 46.2439C51.9835 46.2208 52.2265 46.0818 52.4296 45.8268C52.7069 45.4786 52.7854 45.0883 52.6651 44.6558C52.5457 44.2321 52.2433 43.8269 51.7579 43.4402L50.1323 42.1453L50.6304 41.52Z"
				fill={color}></path>
			<path
				d="M45.9088 47.1028C46.0105 46.9075 46.1677 46.7125 46.3803 46.5177C46.6946 46.2297 47.0291 46.0889 47.3838 46.0955C47.7381 46.111 48.0847 46.3036 48.4235 46.6734L50.1898 48.6008L50.8415 48.0036L51.318 48.5235L50.6663 49.1208L51.6383 50.1815L51.049 50.7216L50.0769 49.6608L49.141 50.5185L48.6645 49.9985L49.6004 49.1408L47.8151 47.1926C47.65 47.0124 47.4788 46.9184 47.3016 46.9106C47.1245 46.9029 46.9573 46.971 46.8002 47.1151C46.6292 47.2718 46.5111 47.4352 46.446 47.6054L45.9088 47.1028Z"
				fill={color}></path>
			<path
				d="M46.1138 53.1561C45.6085 53.4471 45.1213 53.5433 44.6521 53.4445C44.1828 53.3458 43.8121 53.0601 43.5399 52.5875L42.024 49.9554L42.7085 49.5611L43.1121 50.2619C43.0971 49.9595 43.1738 49.6657 43.3424 49.3805C43.5086 49.1039 43.7412 48.8795 44.04 48.7075C44.4474 48.4728 44.8457 48.3917 45.2347 48.4643C45.6215 48.5454 45.9181 48.7652 46.1246 49.1238C46.5689 49.8952 46.1767 50.7216 44.9479 51.6029L44.2009 52.1525L44.2479 52.234C44.4106 52.5165 44.6312 52.686 44.9098 52.7426C45.1861 52.8078 45.4763 52.7528 45.7805 52.5776C46.063 52.4149 46.2513 52.2015 46.3453 51.9376C46.4392 51.6737 46.42 51.3954 46.2876 51.1027L47.0018 50.8541C47.1767 51.296 47.1824 51.7268 47.019 52.1465C46.8501 52.5693 46.5484 52.9058 46.1138 53.1561ZM44.2626 49.3389C43.866 49.5673 43.6267 49.8679 43.5448 50.2406C43.4628 50.6134 43.5408 51.0062 43.7785 51.4191L43.8912 51.6147L44.6382 51.0651C45.427 50.4878 45.6932 49.9764 45.4366 49.5309C45.3271 49.3407 45.163 49.2254 44.9444 49.185C44.7234 49.153 44.4962 49.2044 44.2626 49.3389Z"
				fill={color}></path>
			<path
				d="M38.8029 51.5623C38.9691 51.4179 39.1868 51.2941 39.456 51.1907C39.854 51.038 40.2168 51.0297 40.5444 51.1658C40.8684 51.3101 41.1202 51.6164 41.2999 52.0846L42.2367 54.5253L43.0619 54.2085L43.3146 54.867L42.4894 55.1837L43.0049 56.527L42.2587 56.8134L41.7431 55.4702L40.5579 55.9251L40.3052 55.2666L41.4904 54.8117L40.5435 52.3447C40.4559 52.1164 40.3311 51.9662 40.1692 51.8941C40.0072 51.8219 39.8267 51.8241 39.6277 51.9004C39.4111 51.9836 39.2413 52.0924 39.1184 52.2269L38.8029 51.5623Z"
				fill={color}></path>
			<path
				d="M34.0533 53.4157C34.443 52.9045 34.9861 52.6044 35.6826 52.5153C36.3791 52.4263 36.9803 52.5801 37.486 52.9769C37.9926 53.3798 38.2908 53.9326 38.3807 54.6353C38.4705 55.338 38.3206 55.945 37.9309 56.4562C37.5419 56.9736 36.9992 57.2768 36.3028 57.3659C35.6063 57.4549 35.0047 57.298 34.4982 56.895C33.9862 56.4991 33.6853 55.9498 33.5954 55.2471C33.5056 54.5444 33.6582 53.9339 34.0533 53.4157ZM36.9721 53.5545C36.6393 53.2747 36.2397 53.1646 35.7733 53.2243C35.3069 53.2839 34.9478 53.491 34.6961 53.8455C34.4451 54.2062 34.3519 54.6384 34.4163 55.1422C34.4807 55.6459 34.6793 56.0376 35.0121 56.3174C35.3457 56.6034 35.7457 56.7166 36.2121 56.657C36.6785 56.5973 37.0372 56.3871 37.2881 56.0264C37.5399 55.6719 37.6335 55.2428 37.5691 54.7391C37.5047 54.2354 37.3057 53.8405 36.9721 53.5545Z"
				fill={color}></path>
			<path
				d="M27.7487 52.8597C28.4352 53.007 28.9433 53.3437 29.2728 53.8696C29.6011 54.4017 29.6882 55.0264 29.5343 55.7435C29.3804 56.4607 29.0453 56.9915 28.529 57.336C28.0113 57.6866 27.4092 57.7882 26.7227 57.6409C26.1833 57.5251 25.7623 57.2905 25.4599 56.9371C25.15 56.5884 25.0014 56.1751 25.0143 55.6969L25.8202 55.7063C25.8087 55.9988 25.8973 56.2583 26.0859 56.4847C26.2733 56.7173 26.5294 56.8684 26.8543 56.9381C27.3079 57.0355 27.7061 56.9574 28.049 56.704C28.3845 56.4554 28.6068 56.0767 28.716 55.5679C28.8252 55.0592 28.7785 54.6195 28.5758 54.249C28.3658 53.8834 28.0339 53.6519 27.5803 53.5545C27.2493 53.4835 26.9551 53.5101 26.6976 53.6344C26.434 53.7574 26.2386 53.9655 26.1115 54.2588L25.3819 53.9388C25.5826 53.4817 25.8958 53.1578 26.3214 52.967C26.7396 52.781 27.2154 52.7453 27.7487 52.8597Z"
				fill={color}></path>
			<path
				d="M21.0744 51.5751C21.6804 51.3607 22.2992 51.4069 22.9308 51.7138C23.5623 52.0206 23.9811 52.4785 24.1871 53.0874C24.3904 53.7019 24.3372 54.3278 24.0276 54.965C23.7181 55.6022 23.2603 56.028 22.6543 56.2424C22.0455 56.4624 21.4254 56.419 20.7938 56.1121C20.1622 55.8053 19.7448 55.3446 19.5416 54.73C19.3299 54.1184 19.3789 53.494 19.6885 52.8568C19.9981 52.2196 20.4601 51.7923 21.0744 51.5751ZM23.4408 53.2893C23.3155 52.873 23.0414 52.5621 22.6185 52.3566C22.1955 52.1511 21.7817 52.1278 21.3769 52.2866C20.9694 52.4511 20.6547 52.7617 20.4328 53.2184C20.2109 53.6752 20.1626 54.1117 20.2879 54.5281C20.4105 54.9501 20.6832 55.2638 21.1061 55.4693C21.529 55.6748 21.9443 55.6953 22.3518 55.5308C22.7565 55.372 23.0698 55.0642 23.2918 54.6075C23.5137 54.1507 23.5634 53.7113 23.4408 53.2893Z"
				fill={color}></path>
			<path
				d="M19.8771 50.6691L16.9375 54.387L16.3105 53.8912L16.8646 53.1904C16.549 53.3166 16.2262 53.361 15.896 53.3238C15.5658 53.2865 15.2631 53.159 14.9877 52.9412C14.5992 52.6341 14.3772 52.2628 14.3219 51.8274C14.2616 51.3881 14.387 50.9718 14.698 50.5783L16.6461 48.1145L17.2731 48.6103L15.4184 50.9561C15.2162 51.2118 15.1291 51.4786 15.1571 51.7565C15.1813 52.0393 15.3212 52.2818 15.5769 52.484C15.9261 52.7601 16.3167 52.8372 16.7488 52.7153C17.172 52.5944 17.5761 52.2905 17.9611 51.8036L19.25 50.1734L19.8771 50.6691Z"
				fill={color}></path>
			<path
				d="M14.2853 45.9723C14.4809 46.0733 14.6765 46.2297 14.8721 46.4416C15.1613 46.7549 15.3032 47.0889 15.2979 47.4436C15.2837 47.798 15.0924 48.1452 14.7238 48.4854L12.8029 50.2586L13.4024 50.9082L12.8842 51.3866L12.2846 50.737L11.2274 51.713L10.6852 51.1256L11.7424 50.1497L10.8813 49.2168L11.3996 48.7385L12.2607 49.6713L14.2024 47.8789C14.382 47.7131 14.4754 47.5416 14.4825 47.3644C14.4896 47.1872 14.4208 47.0203 14.2763 46.8637C14.1189 46.6933 13.955 46.5758 13.7846 46.5113L14.2853 45.9723Z"
				fill={color}></path>
			<path
				d="M8.23584 46.2001C7.943 45.6959 7.84508 45.2091 7.94207 44.7395C8.03906 44.2699 8.32337 43.8981 8.79501 43.6242L11.4215 42.0985L11.8183 42.7816L11.119 43.1878C11.4213 43.1717 11.7154 43.2473 12.0012 43.4148C12.2785 43.5801 12.5037 43.8118 12.6768 44.1099C12.913 44.5165 12.9955 44.9145 12.9244 45.3038C12.8447 45.6908 12.626 45.9883 12.2682 46.1961C11.4984 46.6432 10.6706 46.254 9.78475 45.0285L9.23242 44.2836L9.1511 44.3308C8.86921 44.4946 8.70047 44.7158 8.6449 44.9946C8.58076 45.2711 8.63686 45.5612 8.81319 45.8648C8.97693 46.1467 9.19094 46.3341 9.45521 46.4271C9.71948 46.5201 9.99773 46.4999 10.2899 46.3664L10.5411 47.0796C10.0999 47.2562 9.66914 47.2635 9.24886 47.1016C8.82542 46.9343 8.48775 46.6338 8.23584 46.2001ZM12.0462 44.3348C11.8164 43.9391 11.5149 43.701 11.1419 43.6204C10.7688 43.5398 10.3763 43.6192 9.96427 43.8585L9.76911 43.9719L10.3214 44.7168C10.9017 45.5035 11.414 45.7678 11.8586 45.5096C12.0483 45.3994 12.163 45.2349 12.2027 45.0161C12.2338 44.795 12.1816 44.568 12.0462 44.3348Z"
				fill={color}></path>
			<path
				d="M9.79836 38.8702C9.94273 39.0364 10.0666 39.2541 10.1699 39.5233C10.3227 39.9213 10.331 40.2841 10.1948 40.6117C10.0505 40.9357 9.74429 41.1875 9.27605 41.3672L6.83536 42.304L7.1521 43.1293L6.49365 43.382L6.1769 42.5567L4.83365 43.0723L4.54723 42.326L5.89049 41.8105L5.43559 40.6252L6.09405 40.3725L6.54894 41.5577L9.01597 40.6109C9.24424 40.5233 9.39444 40.3985 9.46657 40.2365C9.5387 40.0745 9.53657 39.894 9.4602 39.695C9.37708 39.4784 9.26827 39.3087 9.13378 39.1857L9.79836 38.8702Z"
				fill={color}></path>
			<path
				d="M7.93135 34.1255C8.44255 34.5152 8.74267 35.0583 8.83172 35.7548C8.92076 36.4513 8.76693 37.0524 8.37021 37.5582C7.96727 38.0648 7.41445 38.363 6.71174 38.4528C6.00904 38.5427 5.40208 38.3927 4.89088 38.003C4.37346 37.6141 4.07022 37.0714 3.98118 36.3749C3.89213 35.6784 4.04908 35.0769 4.45202 34.5703C4.84794 34.0583 5.39725 33.7574 6.09996 33.6676C6.80267 33.5777 7.41313 33.7304 7.93135 34.1255ZM7.79256 37.0443C8.07234 36.7114 8.18242 36.3118 8.12279 35.8454C8.06317 35.379 7.85609 35.02 7.50157 34.7682C7.14084 34.5173 6.70862 34.424 6.20491 34.4884C5.7012 34.5528 5.30945 34.7515 5.02967 35.0843C4.74366 35.4179 4.63048 35.8179 4.6901 36.2843C4.74973 36.7507 4.95991 37.1094 5.32065 37.3603C5.67517 37.612 6.10428 37.7057 6.60799 37.6413C7.1117 37.5769 7.50656 37.3779 7.79256 37.0443Z"
				fill={color}></path>
			<path
				d="M8.46767 27.815C8.32035 28.5016 7.98371 29.0096 7.45774 29.3392C6.92564 29.6674 6.301 29.7546 5.58382 29.6007C4.86665 29.4468 4.33584 29.1117 3.99139 28.5953C3.64081 28.0777 3.53918 27.4756 3.6865 26.7891C3.80225 26.2496 4.03685 25.8287 4.39029 25.5262C4.73892 25.2163 5.15231 25.0678 5.63045 25.0806L5.62102 25.8865C5.32853 25.8751 5.06907 25.9636 4.84264 26.1523C4.61008 26.3396 4.45895 26.5957 4.38923 26.9206C4.2919 27.3742 4.36994 27.7725 4.62336 28.1154C4.87197 28.4509 5.25066 28.6732 5.75943 28.7824C6.26819 28.8916 6.70782 28.8448 7.07831 28.6422C7.44399 28.4321 7.6755 28.1003 7.77283 27.6467C7.84386 27.3157 7.81724 27.0214 7.69296 26.7639C7.57 26.5003 7.36185 26.305 7.06852 26.1779L7.38859 25.4483C7.84566 25.649 8.16959 25.9621 8.36037 26.3878C8.54634 26.806 8.58211 27.2818 8.46767 27.815Z"
				fill={color}></path>
			<path
				d="M9.71139 21.1991C9.92802 21.8043 9.88408 22.4233 9.57958 23.056C9.27508 23.6887 8.81876 24.1091 8.21063 24.3174C7.59685 24.5229 6.97078 24.4721 6.33244 24.1649C5.6941 23.8577 5.26661 23.4015 5.04998 22.7963C4.8277 22.1883 4.86881 21.568 5.17331 20.9353C5.47781 20.3026 5.93695 19.8835 6.55074 19.678C7.16159 19.4641 7.78619 19.5107 8.42453 19.8179C9.06287 20.1252 9.49182 20.5856 9.71139 21.1991ZM8.0059 23.5718C8.42178 23.445 8.73168 23.1697 8.93559 22.746C9.13949 22.3223 9.16129 21.9084 9.00097 21.5043C8.835 21.0974 8.52323 20.7838 8.06565 20.5636C7.60808 20.3434 7.17135 20.2967 6.75547 20.4236C6.33393 20.5477 6.02121 20.8216 5.8173 21.2453C5.6134 21.6689 5.59443 22.0842 5.7604 22.4911C5.92072 22.8953 6.22966 23.2075 6.68724 23.4277C7.14481 23.6479 7.58437 23.696 8.0059 23.5718Z"
				fill={color}></path>
			<path
				d="M10.5849 20.0198L6.85639 17.0939L7.34986 16.465L8.05266 17.0166C7.92536 16.7015 7.87975 16.3788 7.91582 16.0485C7.95189 15.7182 8.0783 15.4149 8.29504 15.1388C8.60079 14.7491 8.97126 14.5258 9.40645 14.4689C9.8455 14.407 10.2623 14.5309 10.6569 14.8405L13.1278 16.7796L12.6343 17.4084L10.2818 15.5622C10.0253 15.361 9.75816 15.2749 9.48036 15.3039C9.19762 15.3291 8.95563 15.4699 8.75437 15.7263C8.47957 16.0765 8.40392 16.4674 8.52742 16.899C8.64986 17.3218 8.9552 17.7248 9.44347 18.108L11.0784 19.391L10.5849 20.0198Z"
				fill={color}></path>
			<path
				d="M15.3268 14.3336C15.2259 14.5292 15.0694 14.7248 14.8575 14.9204C14.5442 15.2095 14.2103 15.3515 13.8556 15.3462C13.5012 15.332 13.1539 15.1406 12.8137 14.7721L11.0405 12.8511L10.391 13.4507L9.91258 12.9325L10.5621 12.3329L9.5862 11.2757L10.1735 10.7335L11.1495 11.7907L12.0823 10.9296L12.5607 11.4479L11.6278 12.309L13.4202 14.2507C13.5861 14.4303 13.7576 14.5237 13.9347 14.5308C14.1119 14.5379 14.2788 14.4691 14.4355 14.3245C14.6059 14.1672 14.7234 14.0033 14.7879 13.8329L15.3268 14.3336Z"
				fill={color}></path>
			<path
				d="M15.0129 8.33019C15.516 8.03549 16.0025 7.93577 16.4725 8.03103C16.9424 8.12629 17.3152 8.40924 17.5909 8.87986L19.1262 11.5007L18.4446 11.9L18.0358 11.2022C18.0531 11.5045 17.9785 11.7989 17.812 12.0853C17.6478 12.3631 17.417 12.5892 17.1195 12.7635C16.7137 13.0011 16.3161 13.0851 15.9265 13.0154C15.5392 12.9372 15.241 12.7195 15.0318 12.3625C14.5819 11.5943 14.968 10.7651 16.1902 9.87477L16.9331 9.3197L16.8856 9.23856C16.7208 8.95726 16.4989 8.78935 16.2199 8.7348C15.9432 8.67168 15.6533 8.72884 15.3504 8.90629C15.0691 9.07107 14.8825 9.28577 14.7904 9.55038C14.6984 9.81499 14.7197 10.0932 14.8542 10.3849L14.1419 10.6387C13.9638 10.1981 13.9549 9.76739 14.1152 9.34651C14.2809 8.92246 14.5802 8.58369 15.0129 8.33019ZM16.8922 12.1337C17.2871 11.9024 17.5242 11.6 17.6033 11.2267C17.6825 10.8533 17.6017 10.4611 17.3609 10.05L17.2468 9.85524L16.5039 10.4103C15.7193 10.9934 15.4569 11.5068 15.7168 11.9504C15.8277 12.1397 15.9926 12.2538 16.2115 12.2926C16.4327 12.3229 16.6596 12.2699 16.8922 12.1337Z"
				fill={color}></path>
			<path
				d="M22.3601 9.85255C22.1945 9.99754 21.9772 10.1222 21.7084 10.2265C21.3109 10.3808 20.9482 10.3904 20.6201 10.2555C20.2956 10.1125 20.0426 9.80716 19.8611 9.3396L18.9152 6.90244L18.0912 7.22228L17.836 6.56477L18.66 6.24494L18.1395 4.90362L18.8846 4.61441L19.4052 5.95572L20.5887 5.49639L20.8439 6.1539L19.6604 6.61323L20.6165 9.07669C20.705 9.30463 20.8303 9.45436 20.9926 9.52588C21.1548 9.5974 21.3353 9.5946 21.534 9.51748C21.7503 9.43355 21.9196 9.32411 22.0421 9.18916L22.3601 9.85255Z"
				fill={color}></path>
			<path
				d="M27.0976 7.95966C26.7098 8.47236 26.1679 8.77457 25.4717 8.86629C24.7756 8.95801 24.1739 8.80648 23.6666 8.41171C23.1585 8.01072 22.8581 7.45905 22.7656 6.75669C22.6731 6.05434 22.8207 5.44681 23.2084 4.93411C23.5953 4.4152 24.1369 4.10989 24.833 4.01817C25.5291 3.92645 26.1313 4.08108 26.6394 4.48207C27.1529 4.87602 27.4559 5.42418 27.5485 6.12653C27.641 6.82889 27.4907 7.43993 27.0976 7.95966ZM24.1783 7.83209C24.5122 8.11059 24.9122 8.21914 25.3784 8.15772C25.8446 8.0963 26.2028 7.88785 26.4532 7.53237C26.7027 7.17067 26.7943 6.73809 26.728 6.23463C26.6617 5.73117 26.4616 5.34019 26.1277 5.06169C25.793 4.77697 25.3925 4.66532 24.9263 4.72674C24.4602 4.78816 24.1023 4.99972 23.8528 5.36141C23.6024 5.71689 23.5104 6.14636 23.5767 6.64982C23.6431 7.15328 23.8436 7.54737 24.1783 7.83209Z"
				fill={color}></path>
			<path
				d="M33.4184 8.46389C32.7313 8.31919 32.222 7.98448 31.8904 7.45977C31.5601 6.92893 31.4706 6.30463 31.6217 5.58687C31.7729 4.86911 32.106 4.33703 32.621 3.99061C33.1373 3.63806 33.739 3.53413 34.4261 3.67883C34.966 3.79253 35.3878 4.02552 35.6916 4.37781C36.0028 4.72525 36.153 5.13807 36.1419 5.61626L35.336 5.6099C35.3464 5.31737 35.2568 5.05825 35.0673 4.83254C34.8791 4.6007 34.6224 4.45054 34.2972 4.38206C33.8433 4.28646 33.4453 4.36602 33.1034 4.62075C32.7688 4.87064 32.548 5.25017 32.4407 5.75935C32.3335 6.26853 32.3819 6.70798 32.5859 7.07769C32.7974 7.44257 33.1301 7.6728 33.5841 7.76841C33.9153 7.83818 34.2095 7.81043 34.4665 7.68517C34.7297 7.5612 34.9242 7.35231 35.0502 7.0585L35.781 7.37578C35.5821 7.83362 35.2701 8.15874 34.8452 8.35114C34.4277 8.53871 33.9521 8.57629 33.4184 8.46389Z"
				fill={color}></path>
			<path
				d="M40.0273 9.67078C39.4229 9.88966 38.8038 9.84802 38.1699 9.54587C37.5361 9.24372 37.114 8.78897 36.9034 8.18162C36.6956 7.5686 36.7441 6.94236 37.049 6.30287C37.3538 5.66339 37.8084 5.23422 38.4128 5.01534C39.0199 4.7908 39.6404 4.82961 40.2742 5.13176C40.908 5.43391 41.3288 5.89149 41.5367 6.5045C41.7528 7.11456 41.7085 7.73932 41.4037 8.3788C41.0988 9.01828 40.64 9.44894 40.0273 9.67078ZM37.6483 7.97412C37.7766 8.38953 38.0531 8.6984 38.4775 8.90073C38.9019 9.10307 39.3159 9.12332 39.7195 8.9615C40.1258 8.79402 40.4381 8.48109 40.6567 8.0227C40.8752 7.56431 40.9202 7.12741 40.7919 6.712C40.6662 6.29093 40.3911 5.97923 39.9667 5.7769C39.5422 5.57457 39.1269 5.55714 38.7206 5.72462C38.317 5.88644 38.006 6.19654 37.7875 6.65493C37.569 7.11332 37.5226 7.55305 37.6483 7.97412Z"
				fill={color}></path>
			<path
				d="M41.3465 10.6175L44.2725 6.88897L44.9013 7.38244L44.3498 8.08524C44.6649 7.95794 44.9876 7.91232 45.3179 7.9484C45.6482 7.98447 45.9514 8.11087 46.2276 8.32761C46.6172 8.63337 46.8405 9.00384 46.8975 9.43902C46.9593 9.87808 46.8355 10.2949 46.5258 10.6894L44.5868 13.1603L43.958 12.6669L45.8041 10.3143C46.0054 10.0579 46.0915 9.79074 46.0625 9.51294C46.0373 9.2302 45.8965 8.9882 45.64 8.78695C45.2899 8.51215 44.899 8.4365 44.4673 8.56C44.0445 8.68243 43.6415 8.98778 43.2584 9.47604L41.9753 11.111L41.3465 10.6175Z"
				fill={color}></path>
			<path
				d="M46.9408 15.269C46.7449 15.1688 46.5487 15.013 46.3523 14.8018C46.062 14.4896 45.9189 14.1562 45.9229 13.8014C45.9358 13.447 46.1259 13.0991 46.4932 12.7575L48.4077 10.9773L47.8057 10.33L48.3222 9.84972L48.9242 10.4971L49.9778 9.51732L50.5221 10.1027L49.4685 11.0824L50.333 12.0122L49.8165 12.4924L48.952 11.5627L47.0168 13.3621C46.8377 13.5286 46.745 13.7005 46.7386 13.8777C46.7321 14.0549 46.8015 14.2215 46.9466 14.3776C47.1046 14.5475 47.2689 14.6644 47.4396 14.7282L46.9408 15.269Z"
				fill={color}></path>
			<path
				d="M52.9542 14.947C53.2508 15.449 53.3523 15.9352 53.2587 16.4055C53.1652 16.8758 52.8836 17.2496 52.414 17.527L49.7988 19.0719L49.397 18.3918L50.0934 17.9805C49.7911 17.9989 49.4965 17.9253 49.2094 17.7599C48.931 17.5968 48.7041 17.3667 48.5287 17.0699C48.2896 16.665 48.2041 16.2677 48.2724 15.8779C48.3492 15.4902 48.5658 15.1912 48.922 14.9808C49.6885 14.528 50.5191 14.911 51.414 16.13L51.9718 16.8708L52.0527 16.823C52.3334 16.6572 52.5005 16.4347 52.554 16.1555C52.6161 15.8785 52.5579 15.5889 52.3793 15.2866C52.2135 15.0059 51.9982 14.8201 51.7332 14.729C51.4683 14.638 51.1902 14.6603 50.8989 14.7959L50.6425 14.0845C51.0824 13.9047 51.5131 13.8942 51.9346 14.053C52.3592 14.2172 52.6991 14.5152 52.9542 14.947ZM49.1577 16.8403C49.3904 17.2343 49.6936 17.4703 50.0673 17.5481C50.4409 17.6259 50.8328 17.5436 51.2431 17.3013L51.4374 17.1865L50.8796 16.4456C50.2936 15.6632 49.7793 15.4027 49.3367 15.6642C49.1477 15.7758 49.0342 15.9411 48.9962 16.1602C48.9667 16.3815 49.0206 16.6082 49.1577 16.8403Z"
				fill={color}></path>
			<path
				d="M51.4595 22.3037C51.3139 22.1386 51.1884 21.9218 51.0831 21.6534C50.9273 21.2565 50.9163 20.8938 51.05 20.5652C51.1918 20.2402 51.4962 19.986 51.9631 19.8028L54.3967 18.8478L54.0737 18.0249L54.7303 17.7673L55.0532 18.5902L56.3926 18.0646L56.6846 18.8086L55.3452 19.3342L55.809 20.516L55.1524 20.7737L54.6887 19.5919L52.2288 20.5572C52.0012 20.6465 51.8519 20.7725 51.781 20.935C51.7101 21.0975 51.7136 21.278 51.7915 21.4764C51.8762 21.6923 51.9863 21.8613 52.1217 21.9832L51.4595 22.3037Z"
				fill={color}></path>
			<path
				d="M53.3686 27.0431C52.8544 26.6573 52.5501 26.1165 52.4558 25.4207C52.3614 24.7249 52.5106 24.1226 52.9034 23.6138C53.3024 23.1042 53.853 22.8017 54.5549 22.7065C55.2569 22.6113 55.865 22.7565 56.3792 23.1423C56.8996 23.5272 57.207 24.0676 57.3014 24.7634C57.3958 25.4591 57.2435 26.0619 56.8444 26.5715C56.4524 27.0865 55.9055 27.3917 55.2035 27.4869C54.5015 27.5821 53.8899 27.4342 53.3686 27.0431ZM53.485 24.1233C53.2078 24.4583 53.1008 24.8587 53.164 25.3247C53.2272 25.7906 53.437 26.148 53.7934 26.397C54.1561 26.6452 54.589 26.7351 55.0922 26.6669C55.5954 26.5986 55.9856 26.397 56.2628 26.062C56.5463 25.7262 56.6564 25.3254 56.5932 24.8594C56.53 24.3935 56.317 24.0365 55.9544 23.7883C55.5979 23.5393 55.1681 23.4489 54.6649 23.5172C54.1617 23.5855 53.7684 23.7875 53.485 24.1233Z"
				fill={color}></path>
		</svg>
	</div>
	<div></div>
	<div
		style={`scale: ${scale}`}
		class="absolute bottom-0 left-0 right-0 top-0 m-auto h-fit w-fit transition-[2s] peer-hover:scale-125"
	>
		<svg
			width="16"
			height="10"
			viewBox="0 0 16 10"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0.636658 4.75984C0.636658 4.6213 0.691696 4.48843 0.789666 4.39047C0.887636 4.29251 1.02051 4.23747 1.15906 4.23747L13.4805 4.23747L10.1925 0.950753C10.0944 0.852666 10.0393 0.719633 10.0393 0.580918C10.0393 0.442203 10.0944 0.30917 10.1925 0.211084C10.2906 0.112998 10.4236 0.0578943 10.5623 0.0578943C10.7011 0.0578943 10.8341 0.112998 10.9322 0.211084L15.1114 4.39C15.1601 4.43852 15.1987 4.49617 15.225 4.55963C15.2514 4.62309 15.2649 4.69113 15.2649 4.75984C15.2649 4.82854 15.2514 4.89658 15.225 4.96004C15.1987 5.0235 15.1601 5.08115 15.1114 5.12967L10.9322 9.30859C10.8341 9.40667 10.7011 9.46178 10.5623 9.46178C10.4236 9.46178 10.2906 9.40667 10.1925 9.30859C10.0944 9.2105 10.0393 9.07747 10.0393 8.93875C10.0393 8.80004 10.0944 8.667 10.1925 8.56892L13.4805 5.2822L1.15906 5.2822C1.02051 5.2822 0.887636 5.22716 0.789666 5.1292C0.691696 5.03124 0.636658 4.89838 0.636658 4.75984Z"
				fill={color}></path>
		</svg>
	</div>
</div>

<style is:global>
	.spin {
		animation: spin var(--var-time) linear infinite;
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
</style>
